@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Playfair Display", serif;
}

body {
	padding: 0.5rem;
}

#tabgroup sl-button {
	margin-top: auto;
	margin-bottom: auto;
	sl-icon {
		font-size: 1.5em;
	}
}

sl-tab-panel[active] {
	display: flex;
	justify-content: center;
}

.buttons {
	display: flex;
	justify-content: flex-end;
}

sl-menu-item {
	&::part(checked-icon),
	&::part(submenu-icon) {
		display: none;
	}
	&::part(base) {
		gap: 0.5rem;
	}
	&::part(prefix) {
		font-size: 1.3em;
	}
}

.doc_body {
	width: clamp(600px, 80dvw, 1200px);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px 1px, rgba(0, 0, 0, 0.3) 0px 0px 4px 1.5px;
	margin-top: 1rem;
	padding: 0.7rem;
}

.editor {
	padding-top: 0.8rem;
}
.jodit-container {
	margin: 0.8rem 0rem;
}

#all_blogs_container[active] {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	padding: 1rem;
}

.blog_block {
	aspect-ratio: 1 / 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px 1px, rgba(0, 0, 0, 0.3) 0px 3px 4px 1.5px;

	.title {
		position: absolute;
		text-align: center;
		bottom: 2%;
		left: 2%;
		right: 2%;
		padding: 0.4em;
		background-color: rgba(255, 255, 255, 0.6);
		backdrop-filter: blur(4px);
		border-radius: 10px;
		transition: transform 0.2s ease-in-out;
	}

	&:hover {
		.title {
			transform: translateY(-10%);
		}
	}
}
