[data-vc-theme="light"] {
    .vc-date[data-vc-date-today] .vc-date__btn {
        color: var(--muted-green);
    }

    .vc-week__day[data-vc-week-day-off],
    .vc-date[data-vc-date-weekend] .vc-date__btn {
        color: var(--earth-brown);
    }

    .vc-date[data-vc-date-selected] {
        .vc-date__btn {
            background-color: var(--primary-green);
        }

        .vc-date__btn:hover {
            background-color: var(--muted-green);
        }
    }

    .vc-date[data-vc-date-weekend][data-vc-date-selected] {
        .vc-date__btn {
            background-color: var(--earth-brown);
        }

        .vc-date__btn:hover {
            background-color: var(--sand-beige);
        }
    }

    .vc-months__month[data-vc-months-month-selected],
    .vc-years__year[data-vc-years-year-selected] {
        background-color: var(--primary-green);
    }

    .vc-date[data-vc-date-selected="middle"][data-vc-date-selected] .vc-date__btn {
        background-color: var(--muted-green);
    }

    .vc-date[data-vc-date-selected="middle"][data-vc-date-weekend][data-vc-date-selected] .vc-date__btn {
        background-color: var(--sand-beige);
    }

    .vc-date button {
        padding: 2px;
        flex-direction: column;
        gap: 0.2em;

        div {
            opacity: 0.6;
            font-style: italic;
            font-size: 0.9em;
        }
    }
}
