[data-vc-theme="light"] {
    .vc-date[data-vc-date-today] .vc-date__btn {
        color: var(--muted-green);
    }

    .vc-week__day[data-vc-week-day-off],
    .vc-date[data-vc-date-weekend] .vc-date__btn {
        color: var(--earth-brown);
    }

    .vc-date[data-vc-date-selected] {
        .vc-date__btn {
            background-color: var(--primary-green);
        }

        .vc-date__btn:hover {
            background-color: var(--muted-green);
        }
    }

    .vc-date[data-vc-date-weekend][data-vc-date-selected] {
        .vc-date__btn {
            background-color: var(--earth-brown);
        }

        .vc-date__btn:hover {
            background-color: var(--sand-beige);
        }
    }

    .vc-months__month[data-vc-months-month-selected],
    .vc-years__year[data-vc-years-year-selected] {
        background-color: var(--primary-green);
    }

    .vc-date[data-vc-date-selected="middle"][data-vc-date-selected] .vc-date__btn {
        background-color: var(--muted-green);
    }

    .vc-date[data-vc-date-selected="middle"][data-vc-date-weekend][data-vc-date-selected] .vc-date__btn {
        background-color: var(--sand-beige);
    }

    .vc-date button {
        padding: 2px;
        flex-direction: column;
        gap: 0.2em;

        div {
            opacity: 0.6;
            font-style: italic;
            font-size: 0.9em;
        }
    }
}

#b-country::part(combobox) {
    background-color: rgba(248, 249, 250, 0.5);
    border: 1px solid rgb(231, 229, 228);
    border-radius: 0.75rem;
    padding: 1rem;
    font-size: 0.875rem;
    color: rgb(28, 25, 23);
    transition: all 0.3s ease;
}

#b-country::part(display-label) {
    color: rgb(28, 25, 23);
}

#b-country::part(combobox):focus-within {
    border-color: #968067;
    box-shadow: 0 0 0 2px #968067;
    background-color: #ffffff;
}

#b-country::part(listbox) {
    border-radius: 0.75rem;
    border: 1px solid rgb(231, 229, 228);
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
